<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="css/homepageStyle.css">
</head>
<body>
 <header>
 	<div class="main">
 		
 	</div>
 	<div class="title">
 		<h1>BLAH BLAH BLAH</h1>
 	</div>
 	<div class="button">
 		<a href="login" class="btn">LOGIN</a>
 		<a href="signUp" class="btn">SIGNUP</a>
 	</div>
 </header>
</body>
</html>